<h1>Entity Methods :</h1>

<div class="row">
	<div class="col-sm-3">
		<div class="btn-group-vertical" role="group" aria-label="Methods">

			<button class="methods btn btn-danger titleRow"  >Methods</button>	
	
			<!-- ngRepeat: method in methods track by $index -->
			<button  class="methods btn btn-default ng-binding ng-scope" id="fetch" ng-click="fetch()">$fetch()</button>
			<!-- ngRepeat: method in methods track by $index -->
			<button  class="methods btn btn-default ng-binding ng-scope" id="fetch_edited_entity" ng-click="fetch_edited_entity()">$fetch_edited_entity()</button>

			<!-- end ngRepeat: method in methods track by $index -->
			<button  class="methods btn btn-default ng-binding ng-scope" id="isLoaded" ng-click="isLoaded()">$isLoaded()</button>
			<!-- end ngRepeat: method in methods track by $index -->
			<button  class="methods btn btn-default ng-binding ng-scope" id="remove" ng-click="remove()">$remove()</button>
			<!-- end ngRepeat: method in methods track by $index -->
			<button  class="methods btn btn-default ng-binding ng-scope" id="save" ng-click="save()">$save( )</button>


			
</div>
	</div>
	<div class="col-sm-9">

		<div class="panel panel-default">
			<div class="panel-heading">Test Resuslts :</div>
		  	<div class="panel-body">
		    	<p class="result" >{{result}}</p>
		    	<hr/>
		    	<p class="comment">{{comment}} </p>
		  	</div>
		</div>
		
	</div>
		
</div>








		
		